spring:
  profiles:
    include: mysql
  datasource:
    url: jdbc:mysql://${DB_HOST}:3306/phoebe_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000 # Maximum number of milliseconds that a client will wait for a connection from the pool.
      maximum-pool-size: 10     # Maximum number of actual connection in the pool.
      # Added connection retry properties
      health-check-period: 30000 # How frequently HikariCP will check the health of idle connections in the pool.
      connection-test-query: SELECT 1 # A query that will be executed to test the validity of connections.
  jpa:
    hibernate:
      ddl-auto: validate # or 'none', if you manage the schema manually
    show-sql: true
  flyway:
    enabled: true
    # Added Flyway retry properties
    connect-retries: 60 # Number of times to retry connecting to the database.
    retry-interval: 5 # Interval in seconds between retries.
