spring:
  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    locations:
      - classpath:db/migration/common
      - classpath:db/migration/mysql

  sql:
    init:
      mode: never